@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-01: #000000;
    --color-02: #ffffff;
    --color-03: rgb(240, 240, 240);
    --color-04: #4b05d6;
    --color-05: #3704a3;
    --color-06: #ff3232;
    --color-07: #b32424;

    --fonte-01: "Open Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 60px;
    padding-top: 60px;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    height: 10px;
    width: 10px;
    background-color: var(--color-03);
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-04);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-05);
}

*{
    font-family: var(--fonte-01) !important;
    transition: .5s !important;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 255, .1); */
}

body {
    overflow-x: hidden;
}

.container {
    width: calc(100vw - 300px);
    max-width: 1600px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: var(--color-05);
    border-bottom: 2px solid var(--color-07);
    z-index: 10;
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container #logo > a{
    display: flex;
    gap: 15px;
    align-items: center;
}

header .container #logo > a p {
    font-size: 14px;
    color: var(--color-02);
}

header #logo img {
    height: 40px;
}

header #navigation {
    height: 100%;
    width: 800px;
}

header #hamburger-menu {
    display: none;
}

header #navigation-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navigation-list-item > a,
header .navigation-list-item > button {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: var(--color-02);
    font-size: 14px;
    white-space: nowrap;
}
header .navigation-list-item > a::before {
    content: '';
    position: absolute;
    transform: translate(1px, 18px);
    width: 0px;
    height: 2px;
    background-color: var(--color-02);
    transition: .5s;
}
header .navigation-list-item a:hover::before {
    width: 25px;
}

header #student-area-icon a{
    padding: 7px 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
header #student-area-icon a:hover {
    transform: translateX(5px);
    background-color: var(--color-07);
}

header #student-area-icon a img{
    height: 20px;
}

header .navigation-list-item.dropdown button {
    cursor: pointer;
}

header #student-area-icon a::before,
header .navigation-list-item.dropdown button::before {
    background-color: transparent;
}

header .dropdown .dropdown-list {
    position: absolute;
    /* margin-top: 5px; */
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    background-color: var(--color-07);
    transform: translateX(0px);
    box-shadow: 0 0 5px var(--color-05);
    border-radius: 5px;
}

header .dropdown button:hover + .dropdown-list,
header .dropdown button:focus + .dropdown-list,
header .dropdown .dropdown-list:hover,
header .dropdown .dropdown-list:has(a:focus) {
    padding: 15px 10px 10px 10px;
    opacity: 1;
    visibility: visible;
    max-height: 300px;
    transform: translateX(10px);
}

header .dropdown .dropdown-list > li a {
    display: block;
    padding: 10px;
    font-size: 14px;
    color: var(--color-02);
}
header .dropdown .dropdown-list>li a:hover {
    transform: translateX(2px);
    font-weight: bold;
}

.social-medias {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.social-medias-list-item img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 5px;
}

#developers {
    position: fixed;
    z-index: 10;
    top: 50%;
    transform: translateX(calc(50% - 10px)) rotate(-90deg);
    right: 0;
    background-color: var(--color-05);
    padding: 5px 10px;
    font-size: 12px;
    color: var(--color-02);
    border-radius: 5px 5px 0 0 ;
    cursor: pointer;
}

#developers:hover {
    background-color: var(--color-04);
}

#developers a {
    color: var(--color-02);
}

#developers:hover a {
    text-decoration: underline;
}


#whatsapp-link img {background-color: #3fbe4f;}
#whatsapp-link img:hover {background-color: rgb(33, 160, 49);}
#facebook-link img {background-color: #1772e8;}
#facebook-link img:hover {background-color: rgb(0, 84, 202);}
#linkedin-link img {background-color: #0073b1;}
#linkedin-link img:hover {background-color: rgb(0, 85, 147);}

.banner .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .carousel-list-item img {
    width: 100vw;
    max-width: 2500px;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.banner .carousel-list-item:not(.active) {
    display: none;
}

.main-section {
    padding: 50px 0;
}

.section-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    color: var(--color-01);
}

#ensino #teaching-categories-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1px;
}

#ensino .teaching-categories-list-item {
    position: relative;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
}

#ensino .teaching-category-content {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgba(179, 36, 36, .5); */
    background-color: rgba(55, 4, 163, .4);
    color: var(--color-02);
    display: flex;
    justify-content: center;
    /* padding-top: 50px; */
    align-items: center;
    z-index: 2;
}
#ensino .teaching-category-content:hover {
    background-color: rgba(0, 0, 0, .1);
}

#ensino .teaching-category-content h3{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#ensino .teaching-categories-list-item:hover
.teaching-category-content h3 {
    font-size: 15px;
    opacity: 0;
}

#ensino .teaching-category-content p {
    width: 90%;
    text-align: justify;
    opacity: 0;
    line-height: 20px;
    font-size: 14px;
    scale: .9;
}
#ensino .teaching-categories-list-item:hover
.teaching-category-content p {
    opacity: 1;
    scale: 1;
}

#ensino .teaching-categories-list-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(.5);
}
#ensino .teaching-categories-list-item:hover > img {
    scale: 1.25;
    filter: brightness(.5) blur(2px);
}

#professores #teachers-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

/* #professores #teachers-list.opened {
    max-height: 3000px;
    border-color: transparent;
} */

#professores .teachers-list-item {
    min-height: 120px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid transparent;
    cursor: default;
    padding: 10px 20px;
}

#professores .teachers-list-item:hover {
    background-color: var(--color-03);
}

#professores .teachers-list-item img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/* #professores .teachers-list-item:hover {
    transform: scale(1.02);
} */

#professores .teachers-list-item .teacher-name {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

#professores .teachers-list-item .teacher-subject {
    font-size: 14px;
}

.big-list{
    max-height: 400px;
    overflow: hidden;
    border-bottom: 1px solid var(--color-01);
    padding: 25px !important;
    margin-bottom: 15px !important;
}

.big-list.opened{
    max-height: 3000px;
    border-color: transparent;
}

.big-list + .see-more-button {
    border: none;
    background-color: transparent;
    height: 20px;
    width: 50px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-list + .see-more-button::before,
.big-list + .see-more-button::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--color-01);
    border-radius: 5px;
    transition: .5s;
}

.big-list + .see-more-button::before {
    transform-origin: top left;
    transform: translate(-6px, -5px) rotate(30deg);
}
.big-list + .see-more-button::after {
    transform-origin: top right;
    transform: translate(6px, -5px) rotate(-30deg);
}

.big-list.opened + .see-more-button::before {
    transform: translate(-7px, 5px) rotate(-30deg);
}
.big-list.opened + .see-more-button::after {
    transform: translate(7px, 5px) rotate(30deg);
}

.big-list + .see-more-button:hover {
    transform: translateY(5px);
}
.big-list.opened + .see-more-button:hover {
    transform: translateY(-5px);
}

#calendario-escolar .section-title {
    text-align: left;
}

#calendario-escolar #calendar-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 20px), 1fr));
    gap: 40px;
}

#calendario-escolar .calendar-list-item {
    background-color: var(--color-03);
    padding: 15px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--color-07);
    border-left: 5px solid var(--color-07);
}

#calendario-escolar .calendar-list-item span{
    color: var(--color-07);
    font-size: 12px;
    font-weight: bold;
}

#calendario-escolar .calendar-list-item h3{
    color: var(--color-01);
    font-size: 18px;
    font-weight: bold;
}

#calendario-escolar .calendar-list-item p{
    color: var(--color-01);
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
}

#historia .container {
    display: grid;
    grid-template-columns: 1fr 50%;
    background-color: var(--color-03);
    box-shadow: 0 0 5px 0px var(--color-03);
}

#historia .section-text {
    color: var(--color-05);
    padding: 25px;
}

#historia .section-title {
    margin: 0;
    padding: 15px 0;
    color: var(--color-04);
}

#historia .section-title strong {
    font-style: italic;
}

#historia .section-paragraph {
    text-align: justify;
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;
}

#historia .section-image {
    display: flex;
    align-items: center;
    overflow: hidden;
}

#historia .section-image img {
    height: 100%;
    width: 100%;
    filter: saturate(.8);
    object-fit: cover;
}


#localizacao {
    background-color: var(--color-05);
}

#localizacao .container {
    text-align: center;
}

#localizacao .section-title {
    color: var(--color-02);
}

#localizacao .map {
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

#estrutura #structure-list {
    display: flex;
    width: 100%;
    height: 400px;
}

#estrutura .structure-list-item {
    flex: 1;
    margin: 0 1px;
    display: flex;
    overflow: hidden;
    position: relative;
}

#estrutura .structure-list-item:hover {
    flex: 8;
    margin: 0 5px;
}

#estrutura .structure-list-item h3 {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    padding: 5px 40px 5px 25px;
    border-radius: 0 25px 25px 0;
    color: var(--color-02);
    transform: translate(-100%, 10px);
    z-index: 1;
}

#estrutura .structure-list-item:hover > h3{
    transform: translate(0%, 10px);
    background-color: var(--color-05);
}

#estrutura .structure-list-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(.5);
}

#estrutura .structure-list-item:hover img {
    filter: brightness(1);
}

#estrutura #structure-list:has(.structure-list-item:hover)
.structure-list-item:not(:hover) img {
    filter: brightness(.5) blur(2px);
    scale: 1.1;
}

#equipe #team-list {
    display: grid;
    justify-content: center;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

/* #equipe #team-list.opened {
    max-height: 3000px;
    border-color: transparent;
} */

#equipe .team-list-item {
    /* width: 150px; */
    width: 150px;
    background-color: var(--color-05);
    color: var(--color-02);
    line-height: 18px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

#equipe .team-list-item:hover {
    box-shadow: 0 0 10px 0px var(--color-01);
    transform: translateY(-5px);
}

#equipe .team-list-item h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
}

#equipe .team-list-item h4 {
    font-size: 14px;
    margin: 10px;
}

#equipe .team-list-item img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-bottom: 2px solid var(--color-07);
}

#projetos #projects-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 50px;
    width: 100%;
}

#projetos .projects-list-item {
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    background-color: var(--color-03);
    border: 1px solid var(--color-01);
    border-radius: 5px;
}

#projetos .projects-list-item:hover {
    transform: translateX(5px);
}

#projetos .projects-list-item-image {
    height: 100%;
    width: 100%;
    border-right: 1px solid var(--color-01);
    position: relative;
}

#projetos .projects-list-item-image img {
    /* min-height: 175px; */
    /* height: auto; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#projetos .projects-list-item-informations {
    height: min-content;
    width: 100%;
    padding: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

#projetos .projects-list-item-informations span {
    color: var(--color-01);
    font-size: 12px;
    padding: 3px 7px;
    /* background-color: var(--color-07); */
    border-left: 2px solid var(--color-05);
    /* border-radius: 0 5px 5px 0; */
    white-space: wrap;
    /* width: min-content; */
    display: block;
    margin-bottom: 10px;
}

#projetos .projects-list-item-informations h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

#projetos .projects-list-item-informations p {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 15px;
    text-wrap: wrap;
    /* max-height: 50px;
    overflow-y: auto; */
}

#projetos .projects-list-item-informations a {
    font-size: 12px;
    background-color: var(--color-05);
    border-radius: 5px;
    color: var(--color-02);
    padding: 5px 10px;
    display: block;
    white-space: nowrap;
    width: min-content;
    text-transform: uppercase;
    /* position: absolute;
    bottom: 15px; */
}

#projetos .projects-list-item-informations a:hover {
    background-color: var(--color-04);
    transform: translateX(5px);
}

#noticias #news-box {
    overflow-x: scroll;
}

#noticias #news-list {
    display: flex;
    gap: 25px;
    padding: 25px;
}

#noticias .news-list-item {
    background-color: var(--color-03);
    border-radius: 5px;
    padding: 10px;
}

#noticias .news-list-item:hover {
    box-shadow: 0 0 5px var(--color-01);
}


#noticias .news-list-item-image {
    height: 150px;
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
}

#noticias .news-list-item-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#noticias .news-list-item:hover .news-list-item-image img {
    scale: 1.1;
}

#noticias .news-list-item-text {
    margin-top: 15px;
    padding: 5px;
}

#noticias .news-list-item-text span {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

#noticias .news-list-item-text h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 18px;
}

#eventos #events-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

#eventos .events-list-item span{
    display: block;
    background-color: var(--color-05);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: var(--color-02);
}

#eventos .events-list-item-content {
    padding: 15px;
    background-color: var(--color-03);
}

#eventos .events-list-item-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#eventos .events-list-item-content p {
    font-size: 14px;
    text-align: justify;
    line-height: 18px;
}

#galeria .ampliada {
    display: none;
}

#galeria #gallery-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 2px;
}

#galeria .gallery-list-item {
    overflow: hidden;
    height: 175px;
}

#galeria .gallery-list-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

#galeria #gallery-list:has(.gallery-list-item:hover) .gallery-list-item:not(:hover) img {
    filter: brightness(.5);
}

#galeria .gallery-list-item:hover img {
   scale: 1.02;
   -webkit-transform: scale(1.0);
   transform: scale(1.1);
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 999; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.8); 
  transform: scale(1);
}

.modal-conteudo {
  display: block;
  margin: auto;
  max-width: 80vw;
  max-height: 80vh;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  transition: 100s;
}

.fechar {
  position: absolute;
  top: 30px;
  right: 50px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

#contato {
    background-color: var(--color-05);
    /* margin-bottom: 100px; */
}

#contato .container {
    padding-bottom: 50px;
}

#contato .section-title {
    color: var(--color-02);
    margin-bottom: 50px;
}

#contato #contact-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
    gap: 10px;
}

#contato .contact-list-item {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin: 10px; */
    color: var(--color-02);
    font-size: 14px;
}

#contato .contact-list-item img{
    width: 15px;
}

footer {
    background-color: var(--color-01);
    min-height: 40vh;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

footer .footer-column {
    line-height: 30px;
}

footer .footer-column-item h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-02);
}

footer .footer-column-item p,
footer .footer-column-item a {
    font-size: 14px;
    color: var(--color-03);
}

footer .footer-column-item a {
    display: block;
    text-decoration: underline;
}

footer .footer-column-item a:hover {
    transform: translateX(5px);
}

@media screen and (max-width: 1440px) {
    header .container #logo > a p {
        display: none;
    }

    header .container #logo > a {
        padding: 0 25px;
        margin-right: 100px;
    }

    header #navigation {
        width: 100%;
    }

    .container {
        width: calc(100vw - 200px);
    }

    #historia .container {
        grid-template-columns: 1fr 40%;
    }

    #estrutura #structure-list {
        overflow: auto;
        height: 300px;
    }

    #estrutura .structure-list-item {
        /* width: 100%;
        height: 100%; */
        flex: 0 0 auto;
        /* max-width: unset; */
        /* width: auto; */
    }
    
    #estrutura .structure-list-item:hover {
        flex: 0 0 auto;
        margin: 0 1px;
    }

    #estrutura .structure-list-item img {
        filter: brightness(1);
    }

    #estrutura .structure-list-item:hover img {
        filter: brightness(1);
        scale: 1.1;
    }

    #estrutura #structure-list:has(.structure-list-item:hover)
    .structure-list-item:not(:hover) img {
        filter: brightness(1) blur(0);
        scale: 1;
    }

    #equipe #team-list {
        max-width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    #ensino .teaching-categories-list-item {
        height: 175px;
    }

    #calendario-escolar #calendar-list {
        grid-template-columns: 1fr;
    }

    #historia .container{
        grid-template-columns: 1fr;
    }

    #historia .section-image{
        display: none;
    }

    #projetos .projects-list-item {
        /* grid-template-columns: 3100px 1fr; */
    }

    #eventos #events-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: calc(100vw - 100px);
    }

    header #navigation-list {
        position: absolute;
        background-color: var(--color-04);
        padding: 20px;
        flex-direction: column;
        gap: 20px;
        right: 25px;
        top: 60px;
        height: auto;
        align-items: flex-start;
        /* width: 200px; */
        border-radius: 0 0 5px 5px;
        box-shadow: 0 0 5px var(--color-01);
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        /* overflow: hidden; */
        transition: .5s;
    }

    header #hamburger-menu {
        color: var(--color-02);
        display: block;
        position: absolute;
        right: 50px;
        top: 15px;
        height: 25px;
        width: 25px;
        font-size: 25px;
        text-align: center;
        /* background-color: turquoise; */
        cursor: pointer;
        z-index: 11;
    }

    header #hamburger-menu:hover + #navigation-list,
    header #navigation-list:hover {
        opacity: 1;
        visibility: visible;
        max-height: 100vh;
    }

    #projetos .projects-list-item {
        min-width: 700px;
        flex: 0 0 auto;
        grid-template-columns: 300px 1fr;
    }

    #eventos #events-list {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: calc(100vw - 50px);
    }

    #ensino #teaching-categories-list {
        grid-template-columns: 1fr;
    }

    #equipe #team-list {
        grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    }

    #projetos #projects-list {
        flex-direction: row;
        white-space: nowrap;
        overflow-x: auto;
        border: none;
    }

    #projetos #projects-list + .see-more-button {
        display: none;
    }
}
